<table class="table table-striped">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Break</th>
        <th>Spieler</th>
        <th>Tisch</th>
        <th>Gegner</th>
    </tr>
    </thead>
    <tbody>
    {% for snooker_break in breaks %}
    <tr>
        <td>{{ snooker_break.createdAt ? snooker_break.createdAt|date('d.m.y') : '' }}</td>
        <td class="font-weight-bold">{{ snooker_break.score }}</td>
        <td>{{ snooker_break.user.shortname }}</td>
        <td>{{ snooker_break.snookertable.name }}</td>
        <td>{{ snooker_break.opponent.shortname }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">Keine Einträge gefunden</td>
    </tr>
    {% endfor %}
    </tbody>
</table>