{% extends 'base.html.twig' %}

{% block title %}SnookerBreak{% endblock %}

{% block body %}
    <h1>SnookerBreak</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ snooker_break.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ snooker_break.score }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ snooker_break.createdAt ? snooker_break.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ snooker_break.updatedAt ? snooker_break.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('breaks') }}">back to list</a>

    <a href="{{ path('snooker_break_edit', {'id': snooker_break.id}) }}">edit</a>

    {{ include('snooker_break/_delete_form.html.twig') }}
{% endblock %}
