{% extends 'base.html.twig' %}

{% block title %}Club-Liga 2022/23{% endblock %}

{% block body %}
    <div class="club">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Club-Liga 2022/23</h1>
                    <p>Stand {{stand}} nach n von x Spielen</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Platz</th>
                            <th>Spieler</th>
                            <th>Spiele</th>
                            <th>Punkte</th>
                            <th>Frames</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ranking in rankings %}
                            <tr><td>{{ranking['rank']}}</td><td>{{ranking['name']}}</td><td>14</td><td class="font-weight-bold">33</td><td>40:16</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-12">
                    <h1>Spiele</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Spieler 1</th>
                            <th>Spieler 2</th>
                            <th>Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match in matches %}
                            <tr><td>0</td><td>{{ match.user1.shortname }}</td><td>{{ match.user2.shortname }}</td><td>{{ match.score1 }} : {{ match.score2 }}</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}