{% extends 'base.html.twig' %}

{% block title %}Forderungspyramide{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h1>Forderungspyramide</h1>
                </div>
            </div>

            {% if message %}
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="featured-green">
                            <h5>Das Ergebnis wurde erfolgreich eingetragen.</h5>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <div class="pyramid">
                        {% for row in pyramid %}
                            <div class="pyramid-row">
                                {% for challenger in row %}
                                    {% if challenger.id == player.id %}
                                        <div class="pyramid-card player">
                                            <div class="info">{{ challenger.user.shortname }}</div>
                                            <div class="rank">{{ challenger.rank }}</div>
                                        </div>
                                    {% else %}
                                        {% if challenger.valid %}
                                            {% if challenger.rank <= player.min and challenger.rank >= player.max %}
                                                {% set challengeAble = true %}
                                            {% else %}
                                                {% set challengeAble = false %}
                                            {% endif %}
                                            <div class="pyramid-card{% if challengeAble %} challengeable{% endif %}">
                                                <div class="info">
                                                    <span>{{ challenger.user.shortname }}</span>
                                                </div>
                                                <div class="rank">{{ challenger.rank }}</div>
                                            </div>
                                        {% else %}
                                            <div class="pyramid-card-blank"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if opponentsToChallenge %}
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="featured-green">
                            <h4>Ergebnis eintragen</h4>
                            <form method="post" action="{{ path('pyramid_report_direct_result') }}">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="opponent-id">
                                                Ich forderte:
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <select name="opponent_id" id="opponent-id" class="form-control">
                                                {% for challenger in opponentsToChallenge %}
                                                    <option value="{{ challenger.id }}">
                                                        {% if challenger.ranking %}
                                                            [ #{{ challenger.ranking.position }} ]
                                                        {% else %}
                                                            [ UNRANKED ]
                                                        {% endif %}

                                                        {{ challenger.firstname }} {{ challenger.lastname }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="opponent-id">
                                                Und spielte:
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="pyramid__score_wrapper">
                                                <input type="number" name="score1" min="0" max="3"
                                                       class="form-control pyramid__score" placeholder="0">
                                                <div class="pyramid__score_delimiter">:</div>
                                                <input type="number" name="score2" min="0" max="3"
                                                       class="form-control pyramid__score" placeholder="0">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <input type="submit" class="btn pyramid__submit"
                                                   value="Ergebnis abschicken">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12 mt-4">
                    <h2>Die letzten Matches</h2>
                    <ul class="list-group">
                        {% for match in lastMatches %}
                            <li class="list-group-item">
                                <div class="matchresult">
                                    <div class="date">{{ match.created | date('d.m.') }}</div>
                                    <div>{{ match.user1.shortname }}</div>
                                    <div> {% if match.result == 1 %}gewann{% else %}verlor{% endif %} gegen</div>
                                    <div>{{ match.user2.shortname }}</div>
                                    <div>{{ match.score1 }} : {{ match.score2 }}</div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
