{% extends 'base.html.twig' %}

{% block title %}Vereins Pyramide{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h1>Vereins Pyramide</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pyramid">
                        {% for row in pyramid %}
                            <div class="pyramid-row">
                                {% for challenger in row %}
                                    {% if challenger.id == player.id %}
                                        <div class="pyramid-card player">
                                            <div class="info">{{ challenger.user.shortname }}</div>
                                            <div class="rank">{{ challenger.rank }}</div>
                                        </div>
                                    {% else %}
                                        {% if challenger.valid %}
                                            {% if challenger.rank <= player.min and challenger.rank >= player.max %}
                                                {% set challengeAble = true %}
                                            {% else %}
                                                {% set challengeAble = false %}
                                            {% endif %}
                                            <div class="pyramid-card{% if challengeAble %} challengeable{% endif %}">
                                                <div class="info">
                                                    <span>{{ challenger.user.shortname }}</span>
                                                </div>
                                                <div class="rank">{{ challenger.rank }}</div>
                                            </div>
                                        {% else %}
                                            <div class="pyramid-card-blank"></div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <div class="featured-green">
                        <h4>Ergebnis eintragen</h4>
                        <form method="post" action="{{ path('pyramid_report_direct_result') }}">
                            <div class="form-group">
                                <label for="opponent-id">
                                    Ich habe <b>verloren</b> gegen:
                                </label>
                                <select name="opponent_id" id="opponent-id" class="form-control">
                                    {% for challenger in opponentToChallenge %}
                                        <option value="{{ challenger.id }}">
                                            {% if challenger.ranking %}
                                                [ #{{ challenger.ranking.position }} ]
                                            {% else %}
                                                [ UNRANKED ]
                                            {% endif %}

                                            {{ challenger.firstname }} {{ challenger.lastname }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-danger" value="Niederlage abschicken">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <h2>Die letzten Matches</h2>
                    <ul class="list-group">
                        {% for match in lastMatches %}
                            <li class="list-group-item">
                                <div class="matchresult">
                                    <div class="date">
                                        {{ match.created | date('d.m.') }}
                                    </div>
                                    <div class="opponents">
                                        <span>{{ match.user2.shortname }}</span>
                                        <b> {% if match.result == 0 %}gewann{% else %}verlor{% endif %} gegen</b>
                                        <span>{{ match.user1.shortname }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
