{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="header">
                    <img src="/images/home.png" srcset="/images/home@2x.png 2x" class="img-fluid"
                         alt="Snookerclub 147 München e.V.">
                    <h1>Snookerclub 147 München e.V.</h1>
                </div>
            </div>
        </div>
        <div class="container main-container">
            <div class="row">
                <div class="col-12 black">
                    {{ homeText | raw }}</a>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-6 mt-4">
                    <h2>Aktuelles</h2>
                    <div class="featured-green">
                        <h4>{{ news.title }}</h4>
                        <p class="small">{{ news.createdAt | date('d.m.Y') }} von {{ news.user.firstName }}</p>
                        {% if news.media %}
                        <a href="{{ path('news_detail', {id: news.id, slug: news.slug}) }}">
                            <img class="img-fluid mb-2" style="width: 100%"
                                 src="{{ vich_uploader_asset(news.media, 'imageFile') | imagine_filter('news_image') }}"
                                                                                                 alt="{{ news.title }}"></a>
                        {% endif %}
                        <p>{{ news.caption | nl2br }}</p>
                        <p><a href="{{ path('news_detail', {id: news.id, slug: news.slug}) }}">Weiterlesen</a></p>
                    </div>

                </div>

                <div class="col-lg-6 mt-4">
                    <h2>
                        Tischreservierungen
                        {% if is_granted('ROLE_USER') %}
                            <a class="pull-right featured-green" href="{{ path('reservation_new') }}">Tisch reservieren</a>
                        {% endif %}
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for days in reservations %}
                                <tr>
                                    <td colspan="3" class="font-weight-bold">{{ days.date }}</td>
                                </tr>
                                    {% for reservation in days.reservations %}
                                        <tr>
                                    <td>{{ reservation.start | date('H:i') }}
                                        - {{ reservation.end | date('H:i') }}</td>
                                    <td>
                                        {% for table in reservation.tables %}
                                            {{ table.name }}{% if loop.last == false %},{% endif %}
                                        {% endfor %}
                                        {% if reservation.comment %}
                                        <br/>({{ reservation.comment }})
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for user in reservation.participants %}
                                            {{ user.firstname }}{% if loop.last == false %},{% endif %}
                                        {% endfor %}
                                    </td>
                                        </tr>
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr>
                                    <th>Derzeit keine Reservierungen vorhanden.</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if tourneys | length > 0 %}
                        <h2>Heimspiele und Turniere</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                {% for reservation in tourneys %}
                                    <tr>
                                        <th scope="row"><strong>{{ reservation.start | date('d.m.Y') }}</strong></th>
                                        <td>
                                            {{ reservation.comment | raw }}
                                            <!-- <p>Beginn: {{ reservation.start | date('H:i') }} Uhr</p> -->
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Adresse</h2>
                    <p>
                        Klausnerring 15, 85551 Heimstetten (Gemeinde Kirchheim)
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
