{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="header">
                    <img src="/images/home.png" srcset="/images/home@2x.png 2x" class="img-fluid"
                         alt="Snookerclub 147 München e.V.">
                    <h1>Snookerclub 147 München e.V.</h1>
                </div>
            </div>
        </div>
        <div class="container main-container">
            {% if homeText and (homeText | raw) != '.' %}
            <div class="row">
                <div class="col-12 black">
                    {{ homeText | raw }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class=" col-lg-6 mt-4">
                    <h2>Aktuelles</h2>
                    <div class="featured-green">
                        <h4>{{ news.title }}</h4>
                        <p class="small">{{ news.createdAt | date('d.m.Y') }} von {{ news.user.firstName }}</p>
                        {% if news.media %}
                            <a href="{{ path('news_detail', {id: news.id, slug: news.slug}) }}">
                                <img class="img-fluid mb-2" style="width: 100%"
                                     src="{{ vich_uploader_asset(news.media, 'imageFile') | imagine_filter('news_image') }}"
                                     alt="{{ news.title }}"></a>
                        {% endif %}
                        <p>{{ news.caption | nl2br }}</p>
                        <p><a href="{{ path('news_detail', {id: news.id, slug: news.slug}) }}">Weiterlesen</a></p>
                    </div>

                    {% if is_granted('ROLE_USER') %}
                    <h2>
                        Tischbelegung
                            <a class="btn btn-success pull-right" href="{{ path('reservation_new') }}">Tisch
                                reservieren</a>
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for days in reservations %}
                                <tr>
                                    <td colspan="3" class="font-weight-bold">{{ days.date }}</td>
                                </tr>
                                {% for reservation in days.reservations %}
                                    <tr>
                                        <td style="white-space:nowrap">
                                            {{ reservation.start | date('H:i') }} - {{ reservation.end | date('H:i') }}
                                        </td>
                                        <td>
                                            {% for table in reservation.tables %}
                                                {{ table.name }}{% if loop.last == false %},{% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for user in reservation.participants %}
                                                {{ user.shortname }}{% if loop.last == false %},{% endif %}
                                            {% endfor %}
                                            {% if reservation.comment and reservation.participants | length > 0 %}
                                                <br/>({{ reservation.comment }})
                                            {% elseif reservation.comment %}
                                                {{ reservation.comment }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <th>Derzeit keine Reservierungen vorhanden.</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-6 mt-4">

                    {% if tourneys | length > 0 %}
                    <h2>Spieltage und Turniere</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for reservation in tourneys %}
                                <tr>
                                    <th scope="row"><strong>{{ reservation.start | date('d.m.Y') }}</strong></th>
                                    <td>
                                        {{ reservation.comment | raw }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    <h2>Kontakt</h2>
                    <ul class="list-group list-group-flush list-box">
                        <style>
                          .contact:link, .contact:visited {
                              text-decoration: none; 
                          }
                          .contact img {
                              height: 30px;
                              border: none;
                          }
                        </style>
                        <li class="list-group-item">
                            <a href="mailto:info@sc147.de" class="contact">
                                <img class="contact" src="/images/contact/email.svg" title="E-Mail">
                            </a>
                            <a href="tel:+4915773375766" class="contact">
                                <img class="contact" src="/images/contact/phone.svg" title="Telefon">
                            </a>
                            <a href="https://wa.me/+4915773375766" class="contact" target="blank">
                                <img class="contact" src="/images/contact/Digital_Glyph_Green.svg" title="WhatsApp">
                            </a>
                            <a href="sms:+4915773375766" class="contact">
                                <img class="contact" src="/images/contact/sms.svg" title="SMS">
                            </a>
                        </li>
                        <li class="list-group-item">
                            <p>
                                Snookerclub 147 München e.V.
                                <br/>Klausnerring 15
                                <br/>85551 Kirchheim
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
