<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:300,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{  asset('build/app.css') }}">

    <script src="{{ asset('build/runtime.js') }}"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/de.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>

    <script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/website-tutor/cookiehinweis/script.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

          
    <title>Snookerclub 147 München e.V. - {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {% set route = app.request.attributes.get('_route') %}

    <nav class="navbar navbar-expand-md bg-faded justify-content-center fixed-top main-nav">
        <div class="container">
            <a href="/" class="navbar-brand d-flex mr-auto logo"><img src="/images/logo.png"
                                                                      srcset="/images/logo@2x.png 2x"
                                                                      alt="Snookerclub 147"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if route == 'index' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('index') }}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Verein</a>
                        <div class="dropdown-menu bg-green shadow">
                            <a class="dropdown-item" href="{{ path('news') }}">Aktuelles</a>
                            <a class="dropdown-item" href="{{ path('club') }}">Unser Club</a>
                            <a class="dropdown-item" href="{{ path('membership') }}">Preise</a>
                            <a class="dropdown-item" href="{{ path('map') }}">Anfahrt</a>
                            <a class="dropdown-item" href="{{ path('service') }}">Sonstiges</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Snooker</a>
                        <div class="dropdown-menu bg-green shadow">
                            <a class="dropdown-item" href="{{ path('breaks') }}">Breaks</a>
                            <a class="dropdown-item" href="{{ path('training') }}">Training</a>
                            <a class="dropdown-item" href="{{ path('teams') }}">Mannschaften</a>
                            <a class="dropdown-item" href="{{ path('clubliga') }}">Club-Liga</a>
                        </div>
                    </li>

                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Mitglieder</a>
                            <div class="dropdown-menu bg-green shadow">
                                {% if is_granted('ROLE_CONTENT') %}
                                    <a class="dropdown-item" href="{{ path('easyadmin') }}"><i class="fa fa-table"
                                                                                               aria-hidden="true"></i>
                                        Adminbereich</a>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <a class="dropdown-item" href="{{ path('reservation_index') }}"><i
                                                class="fa fa-calendar" aria-hidden="true"></i>
                                        Tischreservierung</a>
                                    <a class="dropdown-item" href="{{ path('pyramid') }}"><i
                                                class="fa fa-list-ol" aria-hidden="true"></i>
                                        Forderungspyramide</a>
                                    <a class="dropdown-item" href="https://sc147mchn.webling.eu/webling.php" target="_blank"><i
                                                class="fa fa-book" aria-hidden="true"></i>
                                                Vereinssoftware</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Ausloggen</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item mr-auto {% if route == 'map' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('app_login') }}"> <i class="fa fa-sign-in"
                                                                                   aria-hidden="true"></i> Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="navbar navbar-collapse w-100 order-1 order-md-0" id="navbarFooterCollapse">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="{{ path('imprint') }}">Impressum & Haftungsausschuss</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('dsgvo') }}">Datenschutz</a>
                    </li>
                </ul>
            </div>
            <div class="navbar navbar-collapse w-100 order-3">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <!--
                        <span class="small">Partner & Ausrüster:</span>
                        <a target="_blank" href="https://snookershop.de"><img style="max-width: 150px" src="/images/logo-snookershop.png" alt="snookershop.de" /></a>
                        -->
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
<script type="text/javascript">
    window.CookieHinweis_options = {
        message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
        agree: 'Ok, verstanden',
        learnMore: 'Mehr Infos',
        link: '/datenschutz',
        theme: 'dunkel-oben'
    };
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
